
{% extends "inventory_module/base.html" %}

{% block title %} welcome to Inventory System  {% endblock%}

{% block content %}

<div id="login">

<h1>Welcome to Dorabot Inventory System</h1>

{% if form.errors %}
<p class="login_warn">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table class="login">
        <tr>
            <td class="login_item">{{ form.username.label_tag }}</td>
            <td class="login_info">{{ form.username }}</td>
        </tr>
        <tr>
            <td class="login_item">{{ form.password.label_tag }}</td>
            <td class="login_info">{{ form.password }}</td>
        </tr>
    </table>

    <span class="login">
        <input type="button" id="cancel_btn" value="Cancel" onclick="cancel_login()"/>
        <input type="submit" id="login_btn" value="Login" />
    </span>

</form>

</div>

{% endblock %}
