{% extends "inventory_module/inventory/main_page.html" %}

{% block title %} Contact | InvenotrySystem {% endblock %}

{% block contact_content %}

    {{ block.super }}

    <div class="jumbotron">
        <div class="text-center">
            <p class="lead">
                <strong>Any advice is welcome!</strong>
            </p>
            <p>
                If you have any ideas or suggestions about the inventory system,
                please feel free to contact <i>Robin Zhou</i>.
            <p>
                Thank you!
            </p>
            </p>

        </div>
    </div>

{% endblock %}
