{% extends "inventory_module/base.html" %}

{% block title %} Home | Main Page {% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container">

        {% include "inventory_module/inventory/navbar.html" %}

        {% block home_content %}
        {% endblock %}

        {% block inventory_content %}
        {% endblock %}

        {% block my_inventory_content %}
        {% endblock %}

        {% block borrow_material_content %}
        {% endblock %}

        {% block borrow_result_content %}
        {% endblock %}

        {% block my_info_content %}
        {% endblock %}

        {% block about_content %}
        {% endblock %}

        {% block contact_content %}
        {% endblock %}

        {% include "inventory_module/inventory/footer.html" %}
    </div>

{% endblock %}
