{% extends "inventory_module/inventory/main_page.html" %}

{% block title %} About | InvenotrySystem {% endblock %}

{% block about_content %}

    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="text-left">
                <h2 class="btn-success">Brief Introduction</h2>
                <p>InventorySystem is a system developed for storing material information,
                    optimizing business processes of material querying, inserting and modifying,
                    for the sake of improving the status quo that plenty of manual work and low efficiency.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="text-left">
                <h2 class="btn-success">Primary Goal</h2>
                <p class="">
                    Implement following fundamental functions in the first stage:
                <p>
                    1. Login function module
                <p>
                    2. Query specific material's information with key word and query all materials' info at one time
                <p>
                    3. Enable the function that can support users to borrow material with the system
                <p>
                    4. Record the history of users' borrowing material, and shows to users
                <p>
                    5. Users' personal information
                <p>
                    6. Logging function
                <p>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="text-left">
                <h2 class="btn-success">Major Technical Used</h2>
                <p class="">
                    Pyhton(2.7) + Django(1.8.5) + MySQL + Bootstrap + JQuery
                </p>
            </div>
        </div>

        <div class="row">
            <div class="text-left">
                <h2 class="btn-success">Publish Date</h2>
                <p class="">
                    2016.11
                </p>
            </div>
        </div>

        <div class="row">
            <div class="text-left">
                <h2 class="btn-success">More</h2>
                <p>
                    * <i>Functions in second stage</i> *
                <p>
                    - Email informing function
                <p>
                    - Print inventory list
                <p>

                    * <i>Functions after implementing Procurement System </i>*
                <p>
                    - Concatenate with Procurement System
                </p>
            </div>
        </div>

    </div>
{% endblock %}
