
{% extends "inventory_module/inventory/main_page.html" %}

{% block title %} borrow material {% endblock %}

{{ block.super}}

{% block right_content %}

    <div id="right_sidebar" class="">
    <p/>
        <form action="{% url 'inventory_module.views.add_borrow_record' %}" method="post" onsubmit="return checkBorrowQty()">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <span class="borrow_location">
                {% url 'inventory' as inventory_list_url %}
                <input type="button" value="Cancel" name="cancel_btn" onclick="location.href='{{ inventory_list_url }}'"/>
	            <input type="submit" value="Submit" name="submit_btn"/>
            </span>
        </form>

    </div>

{% endblock %}
