
{% extends "inventory_module/inventory/main_page.html" %}

{% block title %} borrow material {% endblock %}

{% block content %}

    {{ block.super}}

    <div class="borrow_material">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <p/>
            <input type="submit" value="Cancel" name="cancel_borrow"/>
	        <input type="submit" value="Submit" name="confirm_borrow"/>

        </form>
    </div>

{% endblock %}
