
#project-name {
    display: inline;
}

#welcome-mark {
    display: inline;
    font-style: italic;
}

div #project-name-div {
    display: inline;
}

.inline-div {
    display: inline;
}

.row {
    width: 1140px;
}

table, tr, td {
    max-width: 1140px;
}
<<<<<<< HEAD

.no-border {
    border-width: 4px 4px 4px 4px;

}
=======
>>>>>>> 8f75c7f212d9884d13b45891673bf7163f2af180
